main{
    gap:20px;
    padding: 90px;
    padding-right: 70px;
}
.articleHockey, .logotipo{
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    /*margin-right: 50px;
    margin-top: 30px*/
}

.articleHockey{
    width: 70vw;
}

.logotipo img{
    width: 150px;
    height: 150px;
}

p{
    padding-inline-start: 20px;
}




